{% extends "../base.html" %}
{% load static %}
{% load extra_tags %}

{% block title %}{% endblock %}
{% block head %}{% endblock head %}
{% block css %}{% endblock %}

{% block content %}
<br><br>

<div class="ui grid">

    <div class="ui row">
        <div class="ui eleven wide column">
            <div class="ui grid">
                <div class="ui horizontal divider header">Datos Personales</div>          
                <div class="ui row">
                    <div class="ui three wide column">
                            <img  class="ui small image" src="http://via.placeholder.com/250x300">
                    </div>
                    <div class="ui thirteen wide column">
                        {% include '../form_errors.html' %}
                        <form class="ui form" method="POST" action="{% url 'agent:update' email=object.email %}">
                            {% csrf_token %}
                            <div class="field">
                                <div class="two fields">
                                    <div class="field">
                                        <input type="text" name="first_name" placeholder='Nombre' value="{{object.profile.first_name}}">
                                    </div>
                                    <div class="field">
                                        <input type="text" name="last_name" placeholder='Apellido' value="{{object.profile.last_name}}">
                                    </div>
                                </div>
                            </div>
            
                            <div class="field">
                                <div class="fields">
                                    <div class="twelve wide field">
                                        <input type="text" name="title" placeholder='Cargo' value="{{object.profile.title}}">
                                    </div>
                                    <div class="four wide field">
                                        <input type="text" name="phone" placeholder='Teléfono' value="{{object.profile.phone}}">
                                    </div>
                                </div>
                            </div>
            
                            <input type="submit" value="Actualizar" class="ui fluid basic button">
            
                        </form>                
                    </div>  
                </div>
            </div>
        </div>
    
        <div class="ui five wide column">
            <div class="ui row">
                <div class="ui grid">
                    <div class="ui horizontal divider header">Estadísticas</div>
                </div>
            </div>
        </div>  
    </div>
    <div class="ui row">
        <div class="ui horizontal divider header">Forecast</div>
    </div>
    <div class="ui row">
        <div class="ui horizontal divider header">Detalles</div>

        <div class="ui grey pointing detail four item menu">
            <div class="item" data-tab="tab-oportunities">Oportunidades</div>
            <div class="item" data-tab="tab-activities">Actividad</div>
            <div class="item" data-tab="tab-clients">Clientes</div>
            <div class="item" data-tab="tab-competitors">Competidores</div>
        </div>
    </div>
    <div class="ui row">

        <div class="ui tab" data-tab="tab-oportunities">a</div>
        <div class="ui tab" data-tab="tab-activities">b</div>
        <div class="ui tab" data-tab="tab-clients">c</div>
        <div class="ui tab" data-tab="tab-competitors">s</div>
        
         
    </div>
         
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        $('.detail.menu .item').tab();
    });
</script>

{% endblock %}

