{% extends "../base.html" %}
{% load static %}
{% load extra_tags %}

{% block title %}{% endblock %}
{% block head %}{% endblock head %}
{% block css %}{% endblock %}

{% block content %}
<br><br>

<div class="ui grid">

    <div class="ui row">
        <div class="ui eleven wide column">
            <div class="ui grid">
                <div class="ui row">
                    <div class="ui three wide column">
                            <img  class="ui small image" src="http://via.placeholder.com/250x300">
                    </div>
                    <div class="ui thirteen wide column">
                        {% include '../form_errors.html' %}
                        <form class="ui form" method="POST" action="{% url 'agent:update' email=object.email %}">
                            {% csrf_token %}
                            <div class="field">
                                <div class="two fields">
                                    <div class="field">
                                        <input type="text" name="first_name" placeholder='Nombre' value="{{object.profile.first_name|cleanone}}">
                                    </div>
                                    <div class="field">
                                        <input type="text" name="last_name" placeholder='Apellido' value="{{object.profile.last_name|cleanone}}">
                                    </div>
                                </div>
                            </div>
            
                            <div class="field">
                                <div class="fields">
                                    <div class="twelve wide field">
                                        <input type="text" name="title" placeholder='Cargo' value="{{object.profile.title|cleanone}}">
                                    </div>
                                    <div class="four wide field">
                                        <input type="text" name="phone" placeholder='Teléfono' value="{{object.profile.phone|cleanone}}">
                                    </div>
                                </div>
                            </div>
            
                            <input type="submit" value="Actualizar" class="ui fluid basic button">
            
                        </form>                
                    </div>  
                </div>
            </div>
        </div>
    
        <div class="ui five wide column">
            <div class="ui row">
                <div class="ui grid">
                </div>
            </div>
        </div>  
    </div>
    <div class="ui row">
    </div>
    <div class="ui row">

        <div class="ui secondary pointing detail four item menu">
            <div class="active item" data-tab="tab-oportunities">Oportunidades</div>
            <div class="item" data-tab="tab-activities">Actividad</div>
            <div class="item" data-tab="tab-clients">Clientes</div>
            <div class="item" data-tab="tab-competitors">Competidores</div>
        </div>
    </div>
    <div class="ui row">

        <div class="ui active tab" data-tab="tab-oportunities">

            {% if request.user.opportunities.count %}
                <table class="ui very basic striped table">
                    <thead>
                        <tr>
                            <th class="two wide">Cliente</th>
                            <th class="four wide">Oportunidad</th>
                            <th class="one wide">Presupuesto</th>
                            <th class="two wide">Creado</th>
                            <th class="two wide">Última actualización</th>
                            <th class="one wide">Estado</th>
                            <th class="two wide">Hito</th>
                            <th class="one wide">Probabilidad</th>
                            <th class="three wide">Histórico</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for opportunity in request.user.opportunities.all  %}
                        <tr>
                            <td>{{opportunity.client.name}}</td>
                            <td>{{opportunity.title}}</td>
                            <td>{{opportunity.budget}} €</td>
                            <td>{{opportunity.created}}</td>
                            <td>{{opportunity.updated}}</td>
                            <td>{{opportunity.get_status_display}}</td>
                            <td>{{opportunity.get_milestone_display}}</td>
                            <td>{{opportunity.value}} %</td>
                            <td>
                                <canvas id="myChart" width="100" height="30" class="sparkline" data-chart_values="{{opportunity.get_history_values|limited:7}}" data-chart_StrokeColor="rgba(151,187,0,1)"></canvas>                                
                            </td>
                            
                        </tr>                            
                        {% endfor %}
                            
                    </tbody>
                </table>                
            {% else %}
                <h2>No tienes oportunidades</h2>
            {% endif %}

        </div>
        <div class="ui tab" data-tab="tab-activities">b</div>
        <div class="ui tab" data-tab="tab-clients">c</div>
        <div class="ui tab" data-tab="tab-competitors">s</div>
        
         
    </div>
         
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        $('.detail.menu .item').tab();



        var sparklineStyle = {
            responsive: false,
            legend: {
                display: false
            },
            elements: {
                line: {
                borderColor: '#000000',
                borderWidth: 1
                },
                point: {
                radius: 0
                }
            },
            tooltips: {
                enabled: false
            },
            scales: {
                yAxes: [
                {
                    display: false
                }
                ],
                xAxes: [
                {
                    display: false
                }
                ]
            }
          }
          
          
          
        $('.sparkline').each(function() {

            //Get context with jQuery - using jQuery's .get() method.
            var ctx = $(this).get(0).getContext("2d");
            //This will get the first returned node in the jQuery collection.
            var myNewChart = new Chart(ctx);
            
            // Get the chart data and convert it to an array
            var chartData = JSON.parse($(this).attr('data-chart_values'));
            
            // Build the data object
            var data = {};
            var labels = [];
            var datasets = {};
            
            // Create a null label for each value
            for (var i = 0; i < chartData.length; i++) {
            labels.push('');
            }
            
            // Create the dataset
            datasets['strokeColor'] = $(this).attr('data-chart_StrokeColor');
            datasets['data'] = chartData;
            
            // Add to data object
            data['labels'] = labels;
            data['datasets'] = Array(datasets);
        
            new Chart(ctx, {
                type: 'line',
                data: data,
                options: sparklineStyle
            });
        })
    });
</script>

{% endblock %}

