{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock head %}

    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/izitoast/dist/css/iziToast.min.css' %}">
    {% block css %}{% endblock %}

</head>
<body>
    
        <div>
            <div class="ui container">
                <div class="ui text menu">
                    <a class="item" style="font-size:1.5em; font-weight:300;">forecash</a>
                    <div class="right menu">
                        <a class="item"><button href="#" class="ui labeled icon basic button"><i class="plus icon"></i>Opportunity</button></a>
                        <a class="item"><button href="#" class="ui icon basic button"><i class="building icon"></i></button></a>
                        <a class="item"><button href="#" class="ui icon basic button"><i class="user icon"></i></button></a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="ui container">
                {% block content %}{% endblock %}
            </div>
        </div>

    

    

    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
    <script src="{% static 'node_modules/izitoast/dist/js/iziToast.min.js' %}"></script>


    <script>
        $(document).ready(function() {
            {% if messages %}
                {% for message in messages %}
                    iziToast.show({
                        title: 'Info',
                        message: '{{ message }}',
                        color: 'green',
                        position: 'topRight',
                    });              
                {% endfor %}
            {% endif %} 
        });               
    </script>
    
    {% block js %}{% endblock %}

</body>
</html>