{% load static %}

<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{% endblock %}</title>

        <link href="{% static 'vendor/semantic/dist/semantic.min.css' %}" rel="stylesheet">
        
        {% block head %}{% endblock head %}
        
        {% block css %}{% endblock %}

    </head>

    <body>
        

        <div class="ui grid">
            <div class="one wide teal center aligned column" style="min-width:5em;max-width:5em;"><i class="plus icon"></i></div>
            <div class="fiveteen wide column">asdasda</div>
        </div>

        <!-- Mainly scripts -->
        <script src="{% static 'vendor/node_modules/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/semantic/dist/semantic.min.js' %}"></script>
        
        <!-- Custom and plugin javascript -->
        {% block js %}{% endblock %}

        <script>
            $(document).ready(function() {})
        </script>
    
    </body>

</html>
